body (
    background-image: url ("splash-bg.png");
    )
    .splash ( text-align: center; 
    margin-top: 30vh;
    )
    .enter-button ( 
        margin-top: 10vh;
        display: block;
        color: blue;
        text-decoration: white; 
        font size: 36px;
        )
        .enter-button:hover (
            color: orange;
            cursor:pointer;
            )
